main {
  background-color: #3D3A6B;
  min-height: 100vh;
  padding-top: 1rem;
}


/*MODAL ACEITAR/RECUSAR MORRIDA*/
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;

}

.modal-corrida{
    width: 90%;
    max-width: 400px;
    background: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    animation: aparecer 0.3s ease;
}

.modal-corrida h1{
    font-size: 32px;
    margin-bottom: 15px;

}

.botoes{
    display: flex;
    gap: 10px;
    margin-top: 20px;

}

.btn-aceitar{
    flex: 1;
    background: #22c55e;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-weight: bold;
}

.btn-recusar{
    flex: 1;
    background: #ef4444;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-weight: bold;

}

@keyframes aparecer{
    from{
        transform: scale(0.8);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 700px) {
  body {
    padding-bottom: 60px;
  }
  main {
    padding-bottom: 60px;
  }
}