<div class="container">
  <div class="cards-container">

    <div class="motorista-card header-card">
      <h2>STATUS DOS MOTORISTAS</h2>
    </div>

    @for (usuario of usuarios; track usuario.id) {
    <div class="corrida-card">
      <div class="card-top">
        <span class="card-id">#{{ usuario.id }}</span>
        <span [ngClass]="{
          'status-online': usuario.status === 1,
          'status-ocupado': usuario.status === 2,
          'status-chamando': usuario.status === 3,
          'status-offline': usuario.status === 0
        }">
          {{ usuario.status === 1 ? 'ON-LINE' : usuario.status === 2 ? 'OCUPADO' :
          usuario.status === 3 ? 'CHAMANDO' : 'OFF-LINE' }}
        </span>
      </div>
      <div class="card-body">
        <p class="card-label">MOTORISTA</p>
        <p><i class="ti ti-user"></i> <span>{{ usuario.nome }}</span></p>
        <p class="card-label">CONTATO</p>
        <p><i class="ti ti-phone"></i> <span>{{ usuario.telefone }}</span></p>
      </div>
      @if (usuario.status !== 2) {
      <div class="card-footer">
        <button class="btn-editar" (click)="chamarModalEdit(usuario)">Alterar Status</button>
      </div>
      }
    </div>
    }

  </div>
</div>

<div class="modal-overlay" *ngIf="modalEditStatus">
  <div class="driver-modal" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ALTERAR STATUS DO MOTORISTA</h5>
        <button type="button" class="close" (click)="fecharModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseja alterar o status de <strong>{{ usuario.nome }}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-Fechar" (click)="fecharModal()">Não</button>
        <button type="button" class="btn-Salvar" (click)="salvarUser()">Sim</button>
      </div>
    </div>
  </div>
</div>